/* containers */

.gameContainer{
    display: flex;
    flex-direction: column;
}

.gameBody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

/* block with users info */

.usersBlock{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.playerPin{
    color: var(--near-white); 
    border:0.1rem solid var(--near-white);
    border-radius: 2rem;
    padding: 1rem;
    font-size: 0.8rem;
    margin: 0.5rem;
    text-align: center;
    width: 10%;
}

.mainPlayerPin{
    border-color: var(--main);
}

/* time noticer*/

.baseNoticer{
    position:relative;
    margin-bottom: -20%;
    left: 50%;
    border-radius: 1rem;
    font-size: 0.75rem;
    border: 0.1rem solid;
    z-index: 2;
}

.timeNoticer{
    background-color: var(--near-black);
    border-color: var(--main);
    color: var(--main);
}

/* pin colors */

.gray{
    background-color: var(--gray-dark);
}

.blue{
    background-color: #004992;
}

.red{
    background-color: #ac1a00;
}

.yellow{
    background-color: #aeb100;
}

.green{
    background-color: #00a344;
}

/* throwing cube */

#throwCube{
    position: fixed;
    bottom: 2rem;
}

.btn{
    background-color: var(--main);
    color: var(--near-white);
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 0.75rem;
    border: 0.1rem solid;
    transition: background-color 300ms;
    z-index: 3;
}

.btn:hover{
    background-color: var(--gray-dark);
}

.pawnButton{
    display: block;
    position: absolute;
    background-color: var(--main);
    padding: 0;
    opacity: 0;
    border: none;
    width: 20px;
    height: 20px;
}

#gameBlock{
    position: relative;
}

